{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": ["error", {  "args": "none" }]
  }
}
